nav {
    background-color: rgb(58, 16, 120);
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(55, 149, 189);
}

main {
    background-color: rgb(47, 88, 205);
    padding: 10px;
    color: white;
}

main ~ footer {
    background-color: rgb(78, 49, 170);
    padding: 10px;
    color: white;
}

